@value large from '@styles/breakpoints.css';

.main {
  font-size: 18px;
  margin: 0 0 60px 0;
  line-height: 22px;
  text-shadow: var(--shadow-dark);
}

@media (large) {
  .main {
    line-height: 24px;
  }
}
