:root {
  /**
   * Fonts
   */
  --open-sans: 'Open Sans', sans-serif;
  --inter: 'Inter', sans-serif;
  /*
   * Fonts sizes
   */
  --size-extra-large: 36px;
  --size-large: 24px;
  --size-normal: 16px;
  --size-small: 14px;
  --size-extra-small: 12px;
  /*
   * Fonts weights
   */
  --weight-light: 300;
  --weight-normal: 400;
  --weight-semi: 600;
  --weight-bold: 700;
  /**
   * Colors
   */
  --just-black: #000000;
  --dark: #202124;
  --almost-white: #e0e0e0;
  --generalissimo-blue: #2b94e8;
  --almost-grey: #c2c2c2;
  --somewhat-grey: #a2a2a3;
  --hard-to-see-gray: #808080;
  /**
   * Text Shadow
   */
  --shadow-dark: 1px 1px 4px var(--just-black);
}
