@value max from '@styles/breakpoints.css';
@value medium from '@styles/breakpoints.css';

body {
  background-color: var(--dark);
  color: var(--almost-white);
  font-family: var(--open-sans);
  font-size: var(--size-normal);
  font-weight: var(--weight-light);
}

h1 {
  font-family: var(--inter);
  font-weight: var(--light);
  font-size: var(--size-extra-large);
}

.main {
  margin: 0;
  padding: 20px 20px 80px 20px;
}

@media (medium) {
  .main {
    padding: 40px 20px 80px;
  }
}

@media (max) {
  .main {
    width: 1000px;
    padding: 40px 0 80px;
    margin: 0 auto;
  }
}
