@value large from '@styles/breakpoints.css';

h1.main, h2.main, h3.main, h4.main {
  margin: 0;
}

h1.main a, h2.main a, h3.main a, h4.main a {
  color: var(--almost-grey);
  font-weight: var(--weight-light);
  text-decoration: none;
}

h1.main a:hover, h2.main a:hover, h3.main a:hover, h4.main a:hover {
  color: var(--generalissimo-blue);
}

h1.main {
  font-size: var(--size-extra-large);
  margin: 10px 0 60px;
}

@media (large) {
  h1.main {
    font-size: 40px;
    margin-bottom: 80px;
  }
}

h2.main, h3.main, h3.main {
  margin: 0 0 60px;
  font-family: var(--inter);
}

h2.main a, h3.main a, h3.main a {
  font-weight: var(--weight-normal);
}


h2.main {
  font-size: var(--size-large);
}

h3.main {
  font-size: 20px;
}

h4.main {
  font-size: var(--size-normal);
}
