@value medium from '@styles/breakpoints.css';

.main {
  margin: 0 0 80px 0;
}

.main h1 {
  display: block;
  margin: 0;
  font-size: 20px;
  font-weight: var(--weight-light);
  font-family: var(--inter);
}

@media (medium) {
  .main h1 {
    display: inline-block;
    vertical-align: top;
  }
}

.main h1 a {
  display: block;
  padding: 20px 0 8px;
  color: var(--almost-white);
  text-decoration: none;
}

.main h1 a:hover {
  color: var(--generalissimo-blue);
}

@media (medium) {
  .main h1 a {
    padding: 20px 0 21px;
  }
}

.main ul {
  display: block;
  margin: 0 0 0 -10px;
  padding: 0;
}

@media (medium) {
  .main ul {
    display: inline-block;
    margin: 0 0 0 20px;
    vertical-align: top;
  }
}

.main li {
  display: inline-block;
  font-weight: var(--weight-semi);
  font-size: 14px;
  height: 48px;
}

@media (medium) {
  .main li {
    height: 64px;
  }
}

.main li a {
  display: block;
  color: var(--almost-white);
  text-decoration: none;
  padding: 8px 10px 24px;
}

@media (medium) {
  .main li a  {
    padding: 24px 10px;
  }
}

.main li a:hover::after {
  content: "";
  display: block;
  margin-top: 10px;
  border-bottom: 1px solid var(--generalissimo-blue);
}
